.content {
  p,
  img,
  ol,
  ul,
  table,
  pre {
    margin-bottom: 1rem;
  }
  word-break: break-word;
}

.content a {
  color: var(--link-color);
}

.content li {
  margin-left: 1rem;
}

.content img {
  max-width: 100%;
  max-height: 50vh;
}
