.collapsible {
  display: block;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  background-color: var(--content-background-color);
}

.content {
  background-color: transparent;
  overflow: hidden;
  padding-bottom: 0.5rem;
  max-height: 10rem;
}

input:checked + .content {
  max-height: unset;
}

input:checked ~ .button {
  .open {
    display: none;
  }
  .close {
    display: block;
  }
}

.button {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  width: 100%;
  font-size: 3rem;
  background: transparent;
  cursor: pointer;
  border: none;
  border-top: 2px solid var(--content-border-color);

  .open {
    display: block;
  }
  .close {
    display: none;
  }
}
