.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
}

.side {
  flex: 1 1;
  width: 0;
  min-width: 15rem;
}

.middle {
  min-width: 0px;
  height: 100%;
  flex: 3 0 0;
}

@media (max-width: #{$mobile-layout-breakpoint}) {
  .main {
    flex-direction: column;
    padding: 1rem;
  }
  .middle {
    order: -1;
  }
  .side {
    width: initial;
  }
}
