.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
}

.side {
  flex: 1 1 0;
  width: 0;
}

.middle {
  height: 100%;
  flex: 3 1 0;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 1rem;
  }
  .middle {
    order: -1;
  }
}
