DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
GAMMA_API_KEY_ID="api-key-id-uuid-here"
GAMMA_API_KEY_TOKEN="token"
GAMMA_CLIENT_ID="id"
GAMMA_CLIENT_SECRET="secret"
GAMMA_ROOT_URL=http://localhost:8081
ACTIVE_GROUP_TYPES="committee,society"
NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000/api/auth
BASE_URL="http://localhost:3000"
MEDIA_PATH="./media"
ADMIN_GROUPS="styrit"
PAGE_EDITOR_GROUPS="snit,motespresidit"
CORPORATE_RELATIONS_GROUP="armit"
# Ensures that the dev enviroment is the same as the production enviroment. Hydration issues can be missed in dev without otherwise.
TZ=UTC

SUBSCRIBE_SLACK_URL_SV="https://"
SUBSCRIBE_SLACK_URL_EN="https://"

SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_SECURE="false"
SMTP_REQUIRE_TLS="false"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="chalmers.it development <dev@chalmers.test>"
