@use '../../styles/colors.scss';

:root {
  /* primary */
  --fc-forma-primary: #{colors.$turquoise-600};
  --fc-forma-primary-over: #{colors.$turquoise-800};
  --fc-forma-primary-down: #{colors.$turquoise-900};
  --fc-forma-primary-foreground: #ffffff;

  /* calendar content */
  --fc-forma-event: var(--calendar-event-color);
  --fc-forma-event-contrast: #ffffff;
  --fc-forma-background-event: var(--fc-forma-primary);
  --fc-forma-highlight: #0f6cbd59;

  /* neutral backgrounds */
  --fc-forma-background: #ffffff;
  --fc-forma-faint: #00000008;
  --fc-forma-muted: #00000012;
  --fc-forma-strong: #0000001f;
  --fc-forma-stronger: #00000029;
  --fc-forma-strongest: #00000033;

  /* neutral foregrounds */
  --fc-forma-foreground: #030712;
  --fc-forma-faint-foreground: #9ca3af;
  --fc-forma-muted-foreground: #6b7280;

  /* neutral borders */
  --fc-forma-border: var(--content-border-color);
  --fc-forma-strong-border: #{colors.$lightgray-700};
}

@media not print {
  [data-color-scheme='dark'] {
    /* calendar content */
    --fc-forma-highlight: #3788d859;

    /* neutral backgrounds */
    --fc-forma-background: #{colors.$darkgray-800};
    --fc-forma-faint: #ffffff0a;
    --fc-forma-muted: #ffffff14;
    --fc-forma-strong: #ffffff1f;
    --fc-forma-stronger: #ffffff29;
    --fc-forma-strongest: #ffffff33;

    /* neutral foregrounds */
    --fc-forma-foreground: #ffffff;
    --fc-forma-faint-foreground: #4b5563;
    --fc-forma-muted-foreground: #6b7280;

    /* neutral borders */
    --fc-forma-strong-border: #{colors.$lightgray-100};
  }
}
