.loading {
  margin-top: 1rem;
  opacity: 0.5;
  text-align: center;
}

.loadButton {
  margin: auto;
  margin-top: 1rem;
  display: none;
}

@media (max-width: #{$mobile-layout-breakpoint}) {
  .loadButton {
    display: block;
  }

  .hitBox {
    display: none;
  }
}
