.loading {
  margin-top: 1rem;
  opacity: 0.5;
  text-align: center;
}

.loadButton {
  margin: auto;
  margin-top: 1rem;
  display: none;
  background-color: transparent;
  border: 2px solid var(--md-primary);
  color: var(--md-on-surface);

  &:hover {
    background-color: var(--md-primary);
    color: var(--md-on-primary);
    border-color: var(--md-primary);
  }
}

@media (max-width: #{$mobile-layout-breakpoint}) {
  .loadButton {
    display: block;
  }

  .hitBox {
    display: none;
  }
}
