.dialog {
  min-width: 50vw;
  background-color: var(--content-background-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.field {
  margin: 0.5rem 0;
}