/* Dropdown.module.scss */
.dropdown {
  border: none;
  background: transparent;
  cursor: pointer; /* Indicate it's clickable */
}

.dropdownInput {
  display: none;
}

.dropdownContent {
  display: none;
  position: absolute;
  min-width: 10rem;
  max-width: 15rem;
  z-index: 3;
}

/* Corrected the sibling selector to target the next siblings */
.dropdownInput:checked + .dropdown + .dropdownContent {
  display: block;
}

@media (max-width: 768px) {
  .dropdownContent {
    position: relative;
  }
}

.dropdownContent > a {
  background-color: var(--header-color);
  display: block;
  padding: 0.5rem 0.5rem;
  color: var(--text-color);
  font-size: 14px;
  text-wrap: balance;
}

.dropdownContent > a:hover {
  background-color: var(--dropdown-hover-color);
}