.toggle {
  font-size: 2.5rem;
  padding: 0.2rem;
  margin-left: 1rem;
  color: var(--text-color);
  height: min(calc(1.5rem + 2.5vw), 2.5rem);
  width: min(calc(1.5rem + 2.5vw), 2.5rem);
  cursor: pointer;
}

.drawer {
  position: fixed;
  display: flex;
  flex-direction: row;
  transition: left 0.5s;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.content > * {
  margin: 0.875rem 0;
}

.content > nav {
  display: flex;
  flex-direction: column;
}

.content {
  position: absolute;
  background-color: var(--header-color);
  max-width: 25rem;
  width: 70vw;
  height: 100%;
  z-index: 10;
  padding: 1.875rem 0;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  transition: left 0.5s;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.checkbox + .drawer {
  pointer-events: none;
  .content {
    left: -100%;
  }
  .overlay {
    opacity: 0;
  }
}

.checkbox:checked + .drawer {
  pointer-events: all;
  .content {
    left: 0;
  }
  .overlay {
    opacity: 1;
  }
}
