@use 'sass:selector';

@mixin light() {
  @media (prefers-color-scheme: light) {
    @at-root #{selector.append(&, ':not([data-theme=light]):not([data-theme=dark])')} {
      @content;
    }
  }
  @at-root #{selector.append(&, '[data-theme=light]')} {
    @content;
  }
}

@mixin dark() {
  @media (prefers-color-scheme: dark) {
    @at-root #{selector.append(&, ':not([data-theme=light]):not([data-theme=dark])')} {
      @content;
    }
  }

  @at-root #{selector.append(&, '[data-theme=dark]')} {
    @content;
  }
}
