@use 'colors.scss';
@use 'theme-toggle.scss';

:root {
  --primary-color: #{colors.$turquoise-800};
  --primary-color-highlight: #{colors.$turquoise-600};

  --banner-bottom-opacity: 0.6;

  @include theme-toggle.light {
    --text-color: #{colors.$darkgray-900};
    --text-hover-color: #{colors.$turquoise-700};
    --link-color: #13aaea;
    --header-color: #f0f8ff;
    --dropdown-hover-color: #{colors.$turquoise-200};
    --background-color: #f5f5f5;
    --content-background-color: #fffafa;
    --content-border-color: #{colors.$lightgray-400};
    --border-color: #{colors.$lightgray-600};
    --card-border-color: #{colors.$lightgray-600};

    --divider-color: #{colors.$turquoise-600};
    --banner-top-opacity: 0;

    --news-view-toggle-color: #{colors.$turquoise-800};
    --news-view-toggle-selected-color: #{colors.$lightgray-100};
    --news-view-toggle-selected-background-color: #{colors.$turquoise-800};
    --news-view-toggle-hovered-color: #{colors.$lightgray-100};
    --news-view-toggle-hovered-background-color: #{colors.$turquoise-800};

    --calendar-current-color: #{colors.$lightgray-400};
    --calendar-current-date-background-color: #{colors.$turquoise-800};
    --calendar-current-date-color: #{colors.$lightgray-200};
    --calendar-neighboring-color: #{colors.$lightgray-300};
    --calendar-event-color: #{colors.$turquoise-600};
    --calendar-event-today-color: #{colors.$turquoise-600};
  }

  @include theme-toggle.dark {
    --text-color: #{colors.$lightgray-300};
    --text-hover-color: #{colors.$turquoise-300};
    --link-color: #{colors.$turquoise-600};
    --header-color: #{colors.$darkgray-800};
    --dropdown-hover-color: #{colors.$turquoise-900};
    --background-color: #{colors.$darkgray-900};
    --content-background-color: #{colors.$darkgray-700};
    --content-border-color: #{colors.$darkgray-500};
    --border-color: #{colors.$darkgray-400};
    --card-border-color: #{colors.$turquoise-800};

    --divider-color: #{colors.$turquoise-800};
    --banner-top-opacity: 0.6;

    --news-view-toggle-color: #{colors.$lightgray-400};
    --news-view-toggle-selected-color: #{colors.$lightgray-100};
    --news-view-toggle-selected-background-color: #{colors.$turquoise-800};
    --news-view-toggle-hovered-color: #{colors.$lightgray-100};
    --news-view-toggle-hovered-background-color: #{colors.$turquoise-800};

    --calendar-current-color: #{colors.$darkgray-500};
    --calendar-current-date-background-color: #{colors.$turquoise-800};
    --calendar-current-date-color: #{colors.$lightgray-200};
    --calendar-neighboring-color: #{colors.$darkgray-600};
    --calendar-event-color: #{colors.$turquoise-700};
    --calendar-event-today-color: #{colors.$turquoise-600};
  }
}
