.memberList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, max-content));
  justify-content: center;
  gap: 1rem;
  margin: 3rem;
}

.memberList > li {
  list-style: none;
}

.membersMessage {
  margin: 2rem 0;
  text-align: center;
}
