.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title > h3 {
  flex-grow: 1;
  color: #a7ebeb;
}

.memberList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, max-content));
  justify-content: center;
  grid-auto-flow: column;
  gap: 1rem;
  width: 100%;
}

.memberList > li {
  list-style: none;
}

.memberListError {
  margin: 2rem 0;
}
