.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title > h3 {
  flex-grow: 1;
  color: #A7EBEB;
}

.memberList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.memberList > li {
  list-style: none;
}
