.main {
    margin: 4rem;
    padding: 2rem;
    min-height: 100vh;
    background-color: rgb(82, 82, 82);
}

.memberList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.memberList > li {
    list-style: none;
}
