.user {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pfp {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0.25rem;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.name img {
  height: 1.28rem;
  width: 1.28rem;
  padding-left: 0.25rem;
  filter: invert(100%);
  vertical-align:middle;
}
