.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pfp {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 0.25rem;
  object-fit: cover;
  display: block;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: var(--text-color);
}

.settings {
  height: 1.28rem;
  width: 1.28rem;
  padding-left: 0.25rem;
  vertical-align: middle;
}
