.tile {
  border: none;
  aspect-ratio: 1 / 1;
  min-width: 0;
  overflow: visible !important;
  position: relative;
  padding: 0.125rem;
  background-color: transparent;
}

.dateTile {
  border-radius: 0.1rem;
  width: 100%;
  height: 100%;
  background-color: var(--surface-container-high);
}

.tileEvent .dateTile {
  border-top: solid var(--tile-event-border-height) var(--primary);
  border-bottom: solid var(--tile-event-border-height) transparent;
}

.today .dateTile {
  background-color: var(--primary);
  color: var(--on-primary);
}

.today.tileEvent .dateTile {
  border-top-color: var(--primary-container-high);
}

.dropdown {
  width: 100%;
  height: 100%;
  background-color: var(--surface-container);
}

.date {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event {
  text-align: left;
}

.date-tile {
  @extend .dateTile;
}

// Subscribe buttons
.drawerArrow {
  min-width: 1.5em;
}

.subscribeButtons {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
