.eventsList {
  list-style-type: none;
}

.centered {
  display: flex;
  flex-direction: column;
}

.upcomingEventsTitle {
  font-size: 1.5rem;
}

.upcomingEventTitle {
  font-size: var(--text-normal);
}

.upcomingEventDetails {
  font-size: var(--text-small);
}
