.content {
  background-color: var(--content-background-color);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--content-border-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
