$turquoise-100: #e7fdfe;
$turquoise-200: #c7f5f5;
$turquoise-300: #a7ebeb;
$turquoise-400: #0ae5f5;
$turquoise-500: #09cdda;
$turquoise-600: #08b7c4;
$turquoise-700: #1298a1;
$turquoise-800: #0e7f7f;
$turquoise-900: #0c6b6b;

$lightgray-100: #f8f8f8;
$lightgray-200: #f2f2f2;
$lightgray-300: #ebebeb;
$lightgray-400: #d8d8d8;
$lightgray-500: #c8c8c8;
$lightgray-600: #b8b8b8;
$lightgray-700: #a8a8a8;
$lightgray-800: #979797;
$lightgray-900: #878787;

$darkgray-100: #7a7a7a;
$darkgray-200: #6e6e6e;
$darkgray-300: #616161;
$darkgray-400: #545454;
$darkgray-500: #474747;
$darkgray-600: #3b3b3b;
$darkgray-700: #2e2e2e;
$darkgray-800: #212121;
$darkgray-900: #141414;

:root {
  --text-color: #{$darkgray-900};
  --header-color: #{$lightgray-500};
}

[data-theme='dark'] {
  --text-color: #{$lightgray-200};
  --header-color: #{$darkgray-500};
}
