.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--header-color);
  height: 4.75rem;
  max-height: 4.75rem;
}

.desktop {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.75rem;
  max-height: 4.75rem;
  padding: 0 3.125rem;
  justify-content: space-between;
  white-space: nowrap;
}

.right {
  justify-content: right;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    height: 4.75rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header {
    padding: 0;
  }
}
