.main {
  margin: 4rem;
}

.settingsPane {
  display: flex;
  flex-direction: row;
  margin: -1rem;
  min-height: 100dvh;
}

.navPane {
  background-color: rgb(94, 94, 94);
}

.navLink {
  display: block;
  padding: 1rem;
  background-color: rgb(90, 90, 90);
}

.navLink:hover {
  background-color: darkgray;
}

.currentLink {
  background-color: gray;
}

.settingsContent {
  flex-grow: 1;
  padding: 2rem;
  background-color: rgb(63, 63, 63);
}
