.button {
  display: inline-flex;
  text-wrap: nowrap;
  background-color: var(--primary-color);
  font-size: 16px;
  border: none;
  padding: 0.5rem 0.6rem;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  max-width: 100%;
  place-content: center;

  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.button:hover {
  background-color: var(--primary-color-highlight);
}
