.button {
  display: inline-flex;
  text-wrap: wrap;
  background-color: var(--primary-color);
  font-size: 18px;
  border: none;
  padding: 0.5rem 0.6rem;
  border-radius: 0.4rem;
  color: black;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: var(--primary-color-highlight);
}
