.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.navLink {
  font-size: 16px;
  color: var(--text-color);
}

.navLink:hover {
  color: var(--text-hover-color);
}
