.nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.navMobile {
  flex-direction: column !important;
  align-items: start;
  justify-content: left;
}

.navLink {
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.navLink:hover {
  color: var(--text-hover-color);
}

.desktopDropdown {
  position: absolute;
  top: 4.75rem;
}
