.escapeHatch {
  flex: 1;
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.3rem;
}

.itlogo {
  height: 3.125rem;
  width: 3.125rem;
  margin-right: 0.625rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.subtitle {
  font-size: 1rem;
  font-weight: 100;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .escapeHatch {
    padding-left: calc(0.25rem + 2vw);
  }

  .itlogo {
    height: calc(1rem + 4vw);
    width: calc(1rem + 4vw);
  }

  .title {
    font-size: calc(0.5rem + 2vw);
  }

  .subtitle {
    font-size: calc(0.5rem + 1vw);
  }
}
