.escapeHatch {
  flex: 1;
  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.3rem;
}

.itlogo {
  height: 3.125rem;
  width: 3.125rem;
  margin-right: 0.625rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.subtitle {
  font-size: 1rem;
  font-weight: 100;
  color: var(--text-color);
}

@media (max-width: #{$header-breakpoint}) {
  .escapeHatch {
    padding-left: min(calc(0.25rem + 2vw), 1.25rem);
  }

  .itlogo {
    height: min(calc(8vw + 1rem), 3.125rem);
    width: min(calc(8vw + 1rem), 3.125rem);
  }

  .title {
    font-size: min(4.5vw, 1.5rem);
  }

  .subtitle {
    font-size: min(3vw, 1rem);
  }
}
