.table {
  thead > tr {
    text-align: left;
    border-bottom: var(--content-border-color) 1px solid;
  }

  tbody > tr {
    border-top: var(--content-border-color) 1px solid;
  }

  th, td {
    padding: 0.1rem 0.2rem;
  }

  width: 100%;
  border-collapse: collapse;
}
