.contactCard {
  position: sticky;
  margin-top: 1rem;
  top: 5.75rem;
}

.languageToggle {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  min-width: 100%;
}



.link {
  color: var(--link-color);
}

.button {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  p {
    font-size: 1.25rem;
  }
}
