:root {
  --toastify-color-light: var(--surface-container);
  --toastify-color-dark: var(--surface-container);

  --toastify-color-info: var(--info);
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--error);
  --toastify-color-transparent: var(--scrim);

  --toastify-icon-color-info: var(--info);
  --toastify-icon-color-success: var(--success);
  --toastify-icon-color-warning: var(--warning);
  --toastify-icon-color-error: var(--error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: var(--surface-container);
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: var(--font-poppins), sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: var(--on-surface);
  --toastify-text-color-dark: var(--on-surface);

  --toastify-text-color-info: var(--on-info);
  --toastify-text-color-success: var(--on-success);
  --toastify-text-color-warning: var(--on-warning);
  --toastify-text-color-error: var(--on-error);

  --toastify-spinner-color: var(--primary);
  --toastify-spinner-color-empty-area: var(--outline-variant);

  --toastify-color-progress-light: var(--primary);
  --toastify-color-progress-dark: var(--primary);

  --toastify-color-progress-info: var(--info);
  --toastify-color-progress-success: var(--success);
  --toastify-color-progress-warning: var(--warning);
  --toastify-color-progress-error: var(--error);
}
