.picture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
