.expandedSearchBar {
  height: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  border: solid;
  border-color: var(--border-color);
  border-radius: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  min-width: 8rem;
}