.searchBarContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
}
  
.searchIcon {
  cursor: pointer;
}

.expandedSearchBar {
  height: 2rem;
  margin-left: 1rem;
  padding: 1rem;
  box-sizing: border-box; 
  border: none;
  border-radius: 1rem; 
  width: 13rem;
  transition: width 0.7s ease;
}

.expandedSearchBar:focus {
  outline: none;
  width: 20rem; 
}