.banner {
  position: relative;
  height: 20rem;
  max-height: 20rem;
  overflow: hidden;
  background-color: var(--content-background-color);
}

.bannerImg::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, var(--banner-top-opacity)),
    rgba(0, 0, 0, var(--banner-bottom-opacity))
  );
  position: absolute;
  top: 0;
  left: 0;
}

.banner img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  filter: linear;
  z-index: -1;
}

.title {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
  z-index: 1;
  width: 100%;
  font-family: var(--font-bitter), serif;
  font-weight: 600;
}

.title h1 {
  font-size: 3rem;
  margin-bottom: -0.5rem;
}

.title h2 {
  font-size: 1.5rem;
  margin-bottom: -0.25rem;
}

@media screen and (max-width: #{$mobile-layout-breakpoint}) {
  .banner,
  .banner img {
    height: calc(6rem + 20vw);
    max-height: 15rem;
  }

  .title {
    bottom: 1rem;
  }

  .title h1 {
    font-size: min(calc(0.25rem + 6vw), 3rem);
  }

  .title h2 {
    font-size: min(calc(0.125rem + 3vw), 1.5rem);
  }
}
